.header{
    height:55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    position:fixed;
    top:0;
    left:0;
    right:0;

    background-color: white;

    border-bottom-width: 1px;
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-style: solid;
    z-index: 100;
}

.left-section{
    display:flex;
    align-items: center;
}

.hamberger-menu{
    height:24px;
    margin-left: 23px;
    margin-right: 25px;
}
.youtube-logo{
    height:20px;
}

.middle-section{
    display: flex;
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width: 500px;
    align-items: center;
}

.search-button{
    height:39px;
    width: 58px;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    margin-left: -1px;
}

.search-button .tooltip, .voice-search-button .tooltip,.upload-icon-container .tooltip,.youtube-apps-container .tooltip,.notifications-icon-container .tooltip{
    position: absolute;
    background-color: grey;
    color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity .15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,.voice-search-button:hover .tooltip,.upload-icon-container:hover .tooltip,.youtube-apps-container:hover .tooltip,.notifications-icon-container:hover .tooltip{
    opacity:1;
}

.search-button,.voice-search-button,.upload-icon-container,.youtube-apps-container,.notifications-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar::placeholder{
    font-size: 16px;
    color: rgb(138, 134, 134);
}

.searchbar{
    flex:1;
    height: 36.2px;
    padding-left: 14px;
    font-size: 16px;
    border:1px solid rgb(192,192,192);
    border-radius: 2px;
    width:0;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
}

.voice-search-button{
    height: 38px;
    width: 38px;
    padding-top: 4px;
    background-color: rgb(245,245,245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-radius: 18px;
    margin-left: 8px;
    border:none
}

.search-icon{
    height:28px;
    padding-top: 2px;
   
}
.right-section{
    width:180px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon{
    height:24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notification-icon{
    height:24px;
}

.notifications-icon-container{
    position:relative;
}

.notifications-count{
    position:absolute;
    top:-3px;
    right:-7px;
    background-color: rgb(201, 43, 43);
    color:white;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    border-width: 2px;
    border-color:white;

    border-style: solid;
}
.current-user-profile{
    height:32px;
    border-style: none;
    border-radius: 20px
}

